# Langgraph:
langgraph

# Langchain
langchain
langchain_groq 
langchain-huggingface
sentence-transformers

# Dotenv
python-dotenv

# Ipython
Ipython

# SQLite    
langgraph.checkpoint.sqlite

# vector database
langchain-chroma